torchvision>=0.8.2
numpy>=1.20.1
imgaug>=0.4.0
lmdb==1.1.1
six==1.15.0
matplotlib==3.3.4
tqdm==4.56.2
nni==2.2
torch==1.7.1
opencv_python==4.5.1.48
progress==1.5
filetype==1.0.7
msgpack_python==0.5.6
Pillow==8.2.0
PyYAML==5.4.1
